.keywords {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 2em;
    grid-gap: .5em;
}

#contact .submit {
    color: #fff;
    background-color: #1c8a45;
    padding: 1rem 2rem;
}

#contact .submit:hover {
    background-color: #3eac67;
}

.contact-link {
    font-size: 1.3rem;
}

@media print, screen and (min-width: 40em) {
    .contact-link {
        font-size: 2.2rem;
    }
}